
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

  body {
    margin: 0;
  }
  
  .App {
    text-align: center;
  }
  
  div {
    background-size: cover;
  }
  
  .detail, .detail-header, .listings, .home, .home div, .boat-card, .navbar {
    display: flex;
  }
  
  .home, .home div {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .detail, .boat-card, .home div {
    flex-direction: column;
  }
  
  .home div {
    width: 30em;
  }
  
  .listing-name {
    min-width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .listing-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
  }
  
  .listing-img {
    display: block;
  }
  
  h2 {
    text-align: left;
    font-weight: normal;
  }
  
  h1 {
    font-family: 'Georgia'
  }
  
  h1, h2, h3, h4 {
    margin: 0;
  }
  
  .navbar {
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 1em;
    min-height: 2em;
    font-family: 'Georgia';
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 0.5em;
  }
  
  .product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cards {
    padding: 1em;
    width: 18em;
    height: 15em;
    background-color: rgb(164, 157, 166);
    border-radius: 0.5em;
    margin: 1em;
    justify-content: space-around;
    box-shadow: 0 0 0.25em rgba(243, 177, 177, 0.527);
    color: white;
    font-family: 'Georgia';
    cursor: pointer;
  }
  
  .boat-card:hover {
    transform: scale(1.01);
  }
  
  .cards img {
    width: 100%;
    height: 10em;
    object-fit: center;
    box-shadow: inset 0 0 1em rgb(0, 0, 0);
  }
  
  .listings {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
  }
  
  .detail-header {
    width: 100vw;
    background-color: rgb(23, 28, 46);
    justify-content: center;
    color: white;
  }
  
  .detail-header img {
    width: 40em;
    height: 20em;
    object-fit: cover;
  }
  
  .info-wrapper {
    min-width: 50vw;
    max-width: 80vw;
    margin: 0 auto;
    text-align: left;
    border: #242f54 solid 3px;
    border-radius: 15px;
    padding: 1vh;
  }
  
  .detail {
    min-height: 35em;
    justify-content: space-between;
  }
  
  form {
    background-color: black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20em;
    min-height: 10em;
    margin: 2em auto;
    border-radius: 0.25em;
  }
  
  form input {
    display: block;
    padding: 0.25em;
  }
  
  button, input {
    outline: none;
    border: none;
    border-radius: 0.25em;
  }
  
  button {
    padding: 0.5em 2em;
    background-color: white;
    font-family: 'Georgia';
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
  }  

:root {
  --primary-bg: #000411;
  --link-color-primary: #aeb7b3;
  --secondary-bg: #e1efe6;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #160c28;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg);
}

button {
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.8em 1.2em;
  font-size: 1.1rem;
}

button,
input {
  border-radius: 8px;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}

.logo,
.logo-wrapper {
  height: 3.5em;
}

nav {
  margin-right: 1em;
  display: flex;
}

nav a,
nav h3 {
  text-decoration-color: var(--primary-bg);
  margin: auto 1em;
  color: var(--link-color-primary);
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}

nav a:hover {
  color: var(--link-color-secondary);
  text-decoration-color: var(--link-color-primary);
}

main {
  min-height: calc(100vh - 4em);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container,
.signin {
  min-height: calc(100vh - 4em);
  align-items: center;
  justify-content: center;
  background-color: #D6C7AE;
  
}
.signin{
  background-image: url(src/assets/welcome.svg);
}

.home-container img {
  max-width: 80%;
  margin: 0 auto;
}

.home-container button {
  padding: 0.8em 1.2em;
  background-color: var(--primary-bg);
  color: var(--link-color-secondary);
  font-size: 1.1rem;
}

.home-container button:hover {
  transform: scale(1.1);
  background-color: var(--primary-button-hover);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-overlay {
  /* border: 2px solid var(--primary-button-hover); */
  width: 60%;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
}

form,
.input-wrapper {
  margin: auto;
  width: 80%;
  background-color: #B3A492;
}

form label {
  align-self: flex-start;
}

.input-wrapper {
  width: 80%;
  margin: 0;
  padding: 0;
}

.input-wrapper input {
  padding: 0.6em 1.2em;
  margin: 0.5em auto;
  width: 100%;
  border-color: var(--primary-bg);
  font-size: 1.1rem;
  outline: none;
}

input::placeholder {
  opacity: 0.7;
}

form button {
  background-color: var(--primary-button-hover);
  margin: 1em 0;
  color: var(--link-color-secondary);
  align-self: center;
  width: 100%;
}

form button:hover {
  opacity: 0.7;
}

form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  margin-top: 4em;
}

.col-4 {
  grid-template-columns: repeat(auto-fill, 400px);
}

.card {
  width: 350px;
  height: 550px;
  background-color: var(--primary-bg);
  color: var(--secondary-bg);
  border-radius: 8px;
  padding: 1em;
  text-align: center;
}

.card p {
  height: 50px;
}

.card h3 {
  height: 50px;
}

.card img {
  width: 100%;
}

.protected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

  .form-style{
    background-color: #967E76;
    width: 39%;
    height: fit-content;
    margin:2%;
    padding: 1.5%;
    border-radius: 3%;
  }
  .cartImage{
width: 100px;
height: 100px;
  }

  .cart-content {
    background-color: aqua;
  }

  .listDetails, .header{
  width: 100;
  text-align: right;

  }
  .header {
    background-color: #967E76;
    display: flex;
    justify-content: space-evenly;

  }

  .listDetails, .totalBar {
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
    align-content: right ;
  }

  .totalBar {
    background-color: rgb(138, 134, 136);
  }